<!DOCTYPE html>
<html>
  <head>
    <title>Programação para Internet</title>
    <meta charset="utf-8"/>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <%if(exibirDiv){%>
      <div>Apenas uma div</div>
    <%}else{%>
      <div> Apenas outra div</div>
    <%}%>
  </body>
</html>
